<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>QuickTemplate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>iOSQuickTemplate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>963010FE17F90027004BB35D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9630110C17F90027004BB35D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>967A79E217EE500E00DD2A64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>967A79F917EE500E00DD2A64</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
